 
<div>
  <h1 class="custom-heading">HACKATHON MANAGEMENT SYSTEM</h1>
  
  <div class="scroll-container">
    <h1 class="scroll-text">Welcome To Hackathon Management System</h1>
  </div>
  
   
  <div class="button-container">
    <a routerLink="/team-registration" class="button"> Team Registration</a>   
    <span class="space">&nbsp;</span>
    <a routerLink="/mentor-registration" class="button">  Mentor Registration</a> 
    <span class="space">&nbsp;</span>
    <a routerLink="/chat" class="button">Chat</a>  
    <span class="space">&nbsp;</span><br>
    <a routerLink="/jury-reviews" class="button">Jury Reviews</a>  
    <span class="space">&nbsp;</span>
    <a routerLink="/vote-for-ideas" class="button">Vote for Ideas</a>  
    <span class="space">&nbsp;</span>
    <a routerLink="/checkpoint-submission" class="button">Checkpoint Submissions</a> 
    <span class="space">&nbsp;</span> <br><br><br>
  </div>
  <router-outlet></router-outlet>
  <i> 
  <section id="about-us" class="about-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="custom-heading"><u>About Hackathon Management System</u></h2>
          <p>
            The Hackathon Management System is a platform designed to streamline and simplify the process of organizing and participating in hackathons. It is created to support hackathon organizers, mentors, participants, and judges.
          </p>
          <p>
            Our mission is to foster innovation, collaboration, and creativity in the tech community. We believe that hackathons are a great way to bring together talented individuals and teams to solve real-world problems.
          </p>
          <p>
            Key Features:
          </p>
          <ul>
            <li>Team Registration</li>
            <li>Mentor Registration</li>
            <li>Real-time Chat</li>
            <li>Jury Reviews</li>
            <li>Idea Voting</li>
            <li>Checkpoint Submissions</li>
            <li>Hackathon Timer</li>
          </ul>
          <p>
            Whether you are a hackathon organizer, mentor, participant, or a tech enthusiast, the Hackathon Management System is here to support and enhance your experience.
          </p>
          <p>
            Thank you for being a part of our community!
          </p>
        </div>
      </div>
    </div>
  </section>
  </i>
  
  
  <h2 class="custom-heading"><i><u>PRIZES</u></i></h2>
  <p><i>
   1.50000 Cash prize.&nbsp;<br>
   2.30000 Cash Prize.&nbsp;<br>
   3.15000 Cash Prize.&nbsp;<br>
   </i></p>
   
</div>
